<div class="jumbotron center">
	<div class="vertical-align">
	  <h1 class="display-4">&lt;ALPHA BLOG/&gt;</h1>
	  <br/>

	  <p class="lead">
  	 	<small><i> &lt;h4&gt; </i></small>
	  		A blog project that utilizes Ruby on Rails and Bootstrap
  		<small><i> &lt;/h4&gt; </i></small>
	  </p>

	  <hr class="my-4">

	  <p>
		  <small><i> &lt;p&gt; </i></small>
		  	Just like blog used to make
	  	<small><i> &lt;/p&gt; </i></small>
  	</p>

	  <%= link_to "Sign up now", signup_path, class: "btn btn-primary" %>
	</div>
</div>