<h1 class="center"> Listing all categories</h1>

<br/>
<div class="d-flex justify-content-center">
	<%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
<br/>

<div class="center">
	<% @categories.each do |category| %>
		<ul class="listing">
			<div class="row">
				<div class="offset-md-4 col-md-4 card bg-light">
					<li class="article-title">
						<%= link_to "#{category.name}", category_path(category) %>
					</li>
					<li><small><%= pluralize(category.articles.count, "articles") %></small></li>
				</div>
			</div>
		</ul>
	<% end %>
</div>

<br/>
<div class="d-flex justify-content-center">
	<%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
<br/>